// views/auth/login.ejs

<form action="/login" method="post">
    <div>
        <label>Pseudo:</label>
        <input type="text" name="pseudo"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>
